[Unit]
Description=Wirescale service
After=network.target
BindsTo=wirescaled.socket

[Service]
ExecStartPre=mkdir -p /run/wirescale/control
ExecStartPre=chmod 700 /run/wirescale /run/wirescale/control
ExecStart=wirescale daemon start
ExecStop=wirescale daemon stop
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
