[Unit]
Description=Wirescale service
After=network.target
BindsTo=wirescaled.socket

[Service]
ExecStart=wirescale daemon start
ExecStop=wirescale daemon stop
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
